
input{
  margin: .5rem;
  border-radius: .5rem;
}

input[type=button], input[type=submit]{
background-color: rgb(12, 12, 231);
color: white;
border: none;
border-radius: 0;
}




.App {
  text-align: center;
}

.lists{
  text-decoration: none;
  display: table;
  color: black;
  margin: 0 auto;
}

.list {
  width: 15rem;
  list-style: none;
  padding: .5em;
  border: 1px solid #cac8c8cc;
  cursor: pointer;
}